* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --body-color: #efefef;
  --nav-color: #1876f2;
  --bg-color: #fff;
}

body {
  background-color: var(--body-color);
  transition: background 0.3s;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--nav-color);
  padding: 5px 5%;
  position: sticky;
  z-index: 100;

  .settings-menu {
    position: absolute;
    width: 90%;
    max-width: 350px;
    // height: 500px;
    background-color: var(--bg-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, .4);
    border-radius: 4px;
    overflow: hidden;
    top: 110%;
    right: 5%;

    // to hide menu
    max-height: 0;
    transition: max-height 0.3s;

    .user-profile {
        display: flex;
        align-items: center;

        img {
          width: 45px;
          border-radius: 50%;
          margin-right: 10px;
        }

        p {
          margin-bottom: -2px;
          font-weight: 500;
          color: #626262;
        }

        small {
          font-size: 12px;
        }

        a {
          font-size: 12px;
          color: var(--nav-color);
          text-decoration: none;
        }
      } // user-profile

      hr {
        border: 0;
        height: 1px;
        background-color: #f1f1f1;
        margin: 15px 0;
      }

      .settings-menu-inner {
        padding: 20px;

        .settings-links {
          display: flex;
          align-items: center;
          margin: 15px 0px;

          .settings-icon {
            width: 38px;
            margin-right: 10px;
            border-radius: 50%;
          }

          a {
            display: flex;
            flex: 1;
            align-items: center;
            justify-content: space-between;
            text-decoration: none;
            color: #626262;
          }
        }
      }

      #dark-btn {
        position: absolute;
        top: 20px;
        right: 20px;
        background-color: #ccc;
        width: 45px;
        border-radius: 15px;
        padding: 2px 3px;
        cursor: pointer;
        display: flex;
        transition: padding-left 0.5s, background 0.5s;

        span {
          width: 18px;
          height: 18px;
          background-color: var(--bg-color);
          border-radius: 50%;
          display: inline-block;
        }

        &.dark-btn-on {
          padding-left: 23px;
          background: #000;
        }
      }
  } // settings-menu

  // toggle the menu
  .settings-menu-height {
    max-height: 450px;
  }

  .nav-left, .nav-right {
    display: flex;
    align-items: center;
  }

  .nav-left {

    .logo {
      width: 160px;
      margin-right: 45px;
    }

    ul li {
      list-style: none;
      display: inline-block;

      img {
        width: 28px;
        margin: 0px 15px;
      }
    }
  }

  .nav-right {
    
    .nav-user-icon { 
      margin-left: 30px;

      img {
        width: 40px;
        border-radius: 50%;
        cursor: pointer;
      }
    }

    .online {
      position: relative;
    }

    .online::after {
      content: '';
      width: 7px;
      height: 7px;
      border: 2px solid var(--bg-color);
      border-radius: 50%;
      background: #41db51;
      position: absolute;
      top: 0;
      right: 0;
    }

    .search-box {
      background: #efefef;
      width: 350px;
      border-radius: 20px;
      display: flex;
      align-items: center;
      padding: 0px 15px;

      img {
        width: 18px;
      }

      input {
        width: 100%;
        background: transparent;
        padding: 10px;
        outline: none;
        border: 0;
      }
    } // search-box
  } // nav-right
} // nav

.container {
  display: flex;
  justify-content: space-between;
  padding: 13px 5%;

  .left-sidebar {
    flex-basis: 25%;
    position: sticky;
    top: 70px;
    align-self: flex-start;

    .imp-links {
      border-bottom: 1px solid #ccc;

      a {
        text-decoration: none;
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        color: #626262;
        width: fit-content;

        &:last-child {
          color: var(--nav-color);
        }

        img {
          width: 25px;
          margin-right: 15px;
        }
      }
    } // imp-links

    .shortcut-links {

      a {
          text-decoration: none;
          display: flex;
          align-items: center;
          margin-bottom: 30px;
          color: #626262;
          width: fit-content;

          img {
            width: 40px;
            border-radius: 4px;
            margin-right: 15px;
          }
      }

      p {
        margin: 25px 0;
        color: #626262;
        font-weight: 500;
      }
      

    } // shortcut-links
  } // left-sidebar

  .main-content {
    flex-basis: 47%;

    .story-gallery {
      display:flex;
      justify-content: space-between;
      margin-bottom: 20px;

      .story {
        flex-basis: 18%;
        padding-top: 32%;
        position: relative;
        background-image: linear-gradient(transparent, rgba(0,0,0,0.5)), url('/images/status-1.png');
        background-position: center;
        background-size: cover;
        border-radius: 10px;
        cursor: pointer;

        img {
          position: absolute;
          width: 45px;
          border-radius: 50%;
          top: 10px;
          left: 10px;
          border: 5px solid var(--nav-color);
        }

        p {
          position: absolute;
          bottom: 10px;
          width: 100%;
          text-align: center;
          color: var(--bg-color);
          font-size: 14px;
        }

       
      } // story

      .story1 {
        background-image: linear-gradient(transparent, rgba(0,0,0,0.5)), url('/images/status-1.png');
        img {
          top: unset;
          left: 50%;
          bottom: 40px;
          transform: translateX(-50%);
          border: 0;
          width: 35px;
        }
      }

      .story2 {
        background-image: linear-gradient(transparent, rgba(0,0,0,0.5)), url('/images/status-2.png');
      }

      .story3 {
        background-image: linear-gradient(transparent, rgba(0,0,0,0.5)), url('/images/status-3.png');
      }

      .story4 {
        background-image: linear-gradient(transparent, rgba(0,0,0,0.5)), url('/images/status-4.png');
      }

      .story5 {
        background-image: linear-gradient(transparent, rgba(0,0,0,0.5)), url('/images/status-5.png');
      }
    }

    .write-post-container {
      width: 100%;
      background-color: var(--bg-color);
      border-radius: 6px;
      padding: 20px;
      color: #626262;

      .user-profile {
        display: flex;
        align-items: center;

        img {
          width: 45px;
          border-radius: 50%;
          margin-right: 10px;
        }

        p {
          margin-bottom: -2px;
          font-weight: 500;
          color: #626262;
        }

        small {
          font-size: 12px;
        }
      } // user-profile

      .post-input-container {
        padding-left: 55px;
        padding-top: 20px;

        textarea {
          width: 100%;
          border: 0;
          outline: 0;
          border-bottom: 1px solid #ccc;
          background: transparent;
          resize: none;
        }
      } // post-input-container

      .add-post-links {
        display: flex;
        margin-top: 10px;

        a {
          text-decoration: none;
          display: flex;
          align-items: center;
          color: #626262;
          margin-right: 30px;
          font-size: 13px;

          img {
            width: 20px;
            margin-right: 10px;
          }
        }
      }
    } // write-post-container

    .post-container {
      width: 100%;
      background-color: var(--bg-color);
      border-radius: 6px;
      padding: 20px;
      color: #626262;
      margin: 20px 0;

      .user-profile {
        display: flex;
        align-items: center;

        img {
          width: 45px;
          border-radius: 50%;
          margin-right: 10px;
        }

        p {
          margin-bottom: -2px;
          font-weight: 500;
          color: #626262;
        }

        span {
          font-size: 13px;
          color: #626262;
        }
      } // user-profile

      .post-text {
        color: #9a9a9a;
        margin: 15px 0;
        font-size: 15px;

        span {
          color: #626262;
          font-weight: 500;
        }

        a {
          color: var(--nav-color);
          text-decoration: none;
        }
      }

      .post-img {
        width: 100%;
        border-radius: 4px;
        margin-bottom: 5px;
      }

      .post-row {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .activity-icons {
          div {
            display: inline-flex;
            align-items: center;
            margin-right: 30px;

            img {
              width: 18px;
              margin-right: 10px;
            }
          }
        } // activity-icons

        .post-profile-icon {
          display: flex;
          align-items: center;

          img {
            width: 20px;
            border-radius: 50%;
            margin-right: 5px;
          }
        }

        a {
          color: #9a9a9a;
        }
      } // post-row
    } // post-container

    .load-more-btn {
      display: block;
      margin: auto;
      cursor: pointer;
      padding: 5px 10px;
      border: 1px solid #9a9a9a;
      color: #626262;
      background: transparent;
      border-radius: 4px;
    }
     
  } // main-content

  .right-sidebar {
    flex-basis: 25%;
    position: sticky;
    top: 70px;
    align-self: flex-start;
    background-color: var(--bg-color);
    padding: 20px;
    border-radius: 4px;
    color: #626262;

    .sidebar-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 18px;

      h4 {
        font-weight: 600;
        font-style: 16px;
      }

      a {
        text-decoration: none;
        color: var(--nav-color);
        font-size: 12px;
      }
    } // sidebar-title

    .event {
      display: flex;
      font-size: 14px;
      margin-bottom: 20px;

      .left-event {
        border-radius: 10px;
        height: 64px;
        width: 65px;
        margin-right: 15px;
        padding-top: 10px;
        text-align: center;
        position: relative;
        overflow: hidden;
        box-shadow: 0 0 10px rgba(0, 0, 0, .1);

        span {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          background-color: var(--nav-color);
          color: var(--bg-color);
          font-size: 10px;
          padding: 4px 0px;
        }
      } // left-event

      p {
        font-size: 12px;
      }

      a {
        font-size: 12px;
        text-decoration: none;
        color: var(--nav-color);
      }
    } // event

    .sidebar-ads {
      width: 100%;
      margin-bottom: 20px;
      border-radius: 4px;
    }

    .online-sidebar {
      // display: flex;
      // align-items: center;
      // margin-bottom: 20px;
    }

    .online-list {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      .online {
      position: relative;
    }
      .online::after {
        content: '';
        width: 7px;
        height: 7px;
        border: 2px solid var(--bg-color);
        border-radius: 50%;
        background: #41db51;
        position: absolute;
        top: unset;
        bottom: 5px;
        right: 0;
      }
      .online {
        width: 40px;
        border-radius: 50%;
        margin-right: 15px;
        img {
          width: 40px;
          border-radius: 50%;
        }
      }
    }
 
  } // right-sidebar
} // container

.footer {
  text-align: center;
  color: #9a9a9a;
  padding: 10px 0px 20px;
  font-size: 13px;
}